* {
	font-family: Sans-serif;
}

:root {
	--displayAreaHeight: 93.7vh;
	--displayAreaWidthAt1250px: 91vw;
}

#uploadForm {
	text-align: center;
	position: relative;
	font-size: 1.2em;
}

#explore_viewProduct {
	margin-left: 2vw;
}

.topNavBar {
	position: absolute;
	top: 0vh;
	left: 0vw;
	right: 0vw;
	background-color: #AEAEAE;
	width: 100vw;
	min-height: 6.3vh;
	max-height: 6.3vh;
}

.topNavBar a {
	float: left;
	padding: 2vh 3vw;
	font-size: 1.2em;
}

.sideNavBar a {
	float: left;
	padding: 1vh 1vw;
	font-size: 1.2em;
}

.hiddenMinimums {
	display: none;
}

.hiddenProvinces {
	display: none;
}

.hiddenTransactions {
	display: none;
}

.hiddenCnaccounts {
	display: none;
}

.hiddenNiaccounts {
	display: none;
}

.hiddenDividends {
	display: none;
}

.expandButton {
	display: inline-block;
	vertical-align: middle;
}

.statusButton {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
}

.greenStatusBackground {
	background-color: green;
}

.yellowStatusBackground {
	background-color: yellow;
}

.redStatusBackground {
	background-color: red;
}

.dashboardButton {
	width: 7vw;
	margin-bottom: 2vh;
}

@media screen and (max-width: 600px) {
	.sideNavBar {
		position: absolute;
		top: 6.3vh;
		left: 0vw;
		height: var(--displayAreaHeight);
		width: 28vw;
		border-right-style: solid;
		border-width: 1px;
		overflow: auto;
	}
	#displayArea {
		position: absolute;
		top: 6.3vh;
		left: 28vw;
		height: var(--displayAreaHeight);
		width: 72vw;
	}
}

@media screen and (min-width: 600px) {
	.sideNavBar {
		position: absolute;
		top: 6.3vh;
		left: 0vw;
		height: var(--displayAreaHeight);
		width: 18vw;
		border-right-style: solid;
		border-width: 1px;
		overflow: auto;
	}
	#displayArea {
		position: absolute;
		top: 6.3vh;
		left: 18vw;
		height: var(--displayAreaHeight);
		width: 82vw;
	}
}

@media screen and (min-width: 1250px) {
	.sideNavBar {
		position: absolute;
		top: 6.3vh;
		left: 0vw;
		height: var(--displayAreaHeight);
		width: 9vw;
		border-right-style: solid;
		border-width: 1px;
		overflow: auto;
	}
	#displayArea {
		position: absolute;
		top: 6.3vh;
		left: 9vw;
		height: var(--displayAreaHeight);
		width: var(--displayAreaWidthAt1250px);
	}
	#resultsArea {
		position: absolute;
		top: 0vh;
		left: 0vw;
		height: var(--displayAreaHeight);
		width: var(--displayAreaWidthAt1250px);
		overflow: auto;
		margin-left: 2vw;
	}
	#resultsTable {
		border-collapse: collapse;
		margin-left: 2vw;
		margin-bottom: 2vh;
	}
	#resultsTable th {
		position: sticky;
		top: 0;
		padding: 1vh 1vw;
		background-color: gray;
		text-align: left;
		max-width: 20%;
	}
	#resultsTable td {
		border: 1px solid black;
		padding: 1vh 1vw;
		text-align: left;
		max-width: 20%;
	}
	#explore_dashboard {
		margin-left: 2vw;
		margin-top: 2vh;
	}
	#fundCountsArea {
		overflow: auto;
		width: var(--displayAreaWidthAt1250px - 2vw);
		height: 25vh;
	}
	#fundDisplayArea {
		overflow: auto;
		width: var(--displayAreaWidthAt1250px - 2vw);
		height: 25vh;
	}
	.dashboardTable {
		border-collapse: collapse;
		margin-bottom: 2vh;
	}
	.dashboardTable th {
		position: sticky;
		top: 0;
		padding: 1vh 1vw;
		background-color: gray;
		text-align: left;
		max-width: 20%;
	}
	.dashboardTable td {
		border: 1px solid black;
		padding: 1vh 1vw;
		text-align: left;
		width: 20%;
	}
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
	color: black;
}